@import "variables";

.cards {
  max-width: 1720px;
  margin: 0 10px;
  background-color: $black;
  display: flex;
  flex-direction: column;
  &__title {
    font-size: 42px;
    line-height: 51px;
    text-transform: uppercase;
    color: $white;
  }
  .loadMore {
    align-self: center;
  }
}
.cards-list {
  max-width: 100vw;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  @media (max-width: 690px) {
    justify-content: center;
  }

  .card-item {
    margin: 10px 6px 40px 6px;
    list-style-type: none;
    width: 320px;
    height: 621px;
    background-color: $white;
    &__content {
      padding: 24px;
      .description {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #171717;
      }
    }

    p {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: #666666;
    }
    &__title {
      font-family: "Mulish", sans-serif;
      margin-bottom: 20px;

      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 26px;

      color: #171717;
    }
  }
}
